Pillow
einops
torch
torchvision
accelerate>=0.26.0
transformers
tokenizers
ai2-olmo-core
autoawq
#python-socketio[client]
flask_socketio
requests
wheel
flash-attn
#socketio
optimum
auto-gptq
bitsandbytes